@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans, ui-sans-serif, system-ui, sans-serif);
  --font-display: var(--font-display, ui-sans-serif, system-ui, sans-serif);
  --font-poppins: var(--font-poppins, ui-sans-serif, system-ui, sans-serif);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}

